{% import "fragments/menu.twig" as menu %}
{% extends "layout.twig" %}

{% block title %}
    LitriX
{% endblock %}

{% block content %}
    {{ menu.getmenu("index") }}
    <div class="container">
        <div class="col-lg-12">
            <h1>Hi!</h1>
            <p>public index module Bye</p>

        </div>
    </div>

{% endblock %}