{% import "fragments/headers.twig" as headers %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title '' %} - LitriX</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        {{ headers.getStyles() }}
    </head>
    <body>

        {% block content %}{% endblock %}

        {{ headers.getScripts() }}
    </body>
</html>