  <div class="col-lg-12">

        <div class="panel panel-default headingUsers">
            <div class="panel-heading">
                <h4><span class="glyphicon glyphicon-user"></span> Usuarios (<a href="{{ path('user_usercreate') }}" >crear nuevo</a>)</h4>  {{ render(path("user_filterusers")) }}
            </div>
            <div class="panel-body">

                <div class="col-lg-12">
                    <fieldset>
                        <table id = "tableusers" class="table listado">
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>

</div>